<% layout("layouts/standart") %>
<div class="container">
  <h1>Couples</h1>
  <div class="row">
    <% for (let i = 0; i < users.length; i++) { %>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="data:image/<%=images[i].img.contentType%>;base64,
					<%=images[i].img.data.toString('base64')%>" alt="User Photo">
          <div class="card-body">
            <h5 class="card-title"><%= users[i].username %></h5>
            <p class="card-text"><%= users[i].email %></p>
            <!-- <button class="btn btn-primary follow-btn">Follow</button> -->
            <!-- /follow/:id GET -->
            <a href="/follow/<%= users[i]._id %>" class="btn btn-primary follow-btn">Follow</a>
          </div>
        </div>
      </div>
      <% if ((i + 1) % 3 === 0) { %>
        </div><div class="row">
      <% } %>
    <% } %>
  </div>
</div>