<% layout("layouts/standart") %>

<div class="container">
  <h1>Events</h1>
  <div class="row">
    <% events.forEach(function(event) { %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="<%= event.photoURI %>" alt="Event Image">
          <div class="card-body">
            <h5 class="card-title"><%= event.eventName %></h5>
            <p class="card-text">Occasion: <%= event.occasion %></p>
            <p class="card-text">Date: <%= event.date.toDateString() %></p>
            <a href="/events/<%= event._id %>" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>

  <hr>

  <h2>Add New Event</h2>
  <form method="post" action="/events">
    <div class="form-group">
      <label for="eventName">Event Name</label>
      <input type="text" class="form-control" id="eventName" name="eventName" required>
    </div>
    <div class="form-group">
      <label for="occasion">Occasion</label>
      <input type="text" class="form-control" id="occasion" name="occasion" required>
    </div>
    <div class="form-group">
      <label for="photoURI">Photo URI</label>
      <input type="text" class="form-control" id="photoURI" name="photoURI" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Event</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>