<% layout("layouts/standart") %>
<!DOCTYPE html>
<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <!-- <img
              src="<%= image %>"
              alt="avatar"
              class="rounded img-fluid"
              style="width: 150px"
            /> -->
            <img
              src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>"
              alt="avatar"
              class="rounded img-fluid"
              style="width: 150px"
            />
            <% if (firstName && lastName) { %>
            <h5 class="my-3"><%= firstName %> <%= lastName %></h5>
            <% } else { %>
            <p class="mb-0"></p>
            <% } %> <% if (coupleId) { %>
            <p class="text-muted mb-4">Happy Couple</p>
            <% } else { %>
            <p class="text-muted mb-4">No Couple</p>
            <% } %>
            <form
              action="/upload/<%= id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <!-- <input type="file" name="image" />
              <button type="submit">Upload</button> -->
              <label for="formFile" class="form-label">Upload image!</label>
              <input class="form-control" type="file" name="image" id="formFile"/>
            </form>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fas fa-globe fa-lg text-warning"></i>
                <% if (country) { %>
                <p class="mb-0"><%= country %></p>
                <% } else { %>
                <p class="mb-0">no information about country</p>
                <% } %>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-github fa-lg" style="color: #333333"></i>
                <% if (city) { %>
                <p class="mb-0"><%= city %></p>
                <% } else { %>
                <p class="mb-0">no information about city</p>
                <% } %>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-twitter fa-lg" style="color: #55acee"></i>
                <% if (DateOfBirth) { %>
                <p class="mb-0"><%= DateOfBirth %></p>
                <% } else { %>
                <p class="mb-0">no information about birth day</p>
                <% } %>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac"></i>
                <% if (gender) { %>
                <p class="mb-0"><%= gender %></p>
                <% } else { %>
                <p class="mb-0">no information about gender</p>
                <% } %>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998"></i>
                <% if (socalMedia) { %>
                <p class="mb-0"><%= socalMedia %></p>
                <% } else { %>
                <p class="mb-0">no information about social media</p>
                <% } %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <p class="display-6">My info ℹ️</p>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Userame</p>
              </div>
              <div class="col-sm-9">
                <!-- <p class="text-muted mb-0">Gennadyi Golovkin </p> -->
                <p><%= name %></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= email %></p>
              </div>
            </div>
            <hr />
            <!-- Password -->
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Bio</p>
              </div>
              <div class="col-sm-9">
                <% if (socalMedia) { %>
                <p class="text-muted mb-0"><%= bio %></p>
                <% } else { %>
                <p class="mb-0">no information about bio</p>
                <% } %>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="container">
            <table>
              <% for (let i = 0; i < proposals.length; i++) { %>
              <tr>
                <td>
                  <p class="mb-0">Proposal <%= i + 1 %></p>
                </td>
                <td>
                  <p class="mb-0"><%= proposals[i].username %></p>
                </td>
                <!-- Accept /accept/:id GET a href -->
                <td>
                  <a href="/accept/<%= proposals[i]._id %>">Accept</a>
                </td>
                <!-- Decline /decline/:id GET a href -->
                <td>
                  <a href="/decline/<%= proposals[i]._id %>">Decline</a>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
        </div>

        <% if (couple) { %>
        <div class="card mb-4">
          <div class="card-body">
            <p class="display-6">My dear couple ❤️</p>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <!-- <p class="text-muted mb-0">Gennadyi Golovkin </p> -->
                  <p><%= couple.username %></p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= couple.email %></p>
                </div>
              </div>
              <hr />
              <!-- Password -->
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Password</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= couple.password %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <div class="row">
          <% for (let i = 0; i < events.length; i++) { %>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                src="<%= events[i].photoUrl %>"
                alt="Event Image"
              />
              <div class="card-body">
                <h5 class="card-title"><%= events[i].eventName %></h5>
                <p class="card-text"><%= events[i].date %></p>
              </div>
            </div>
          </div>
          <% if ((i + 1) % 3 === 0) { %>
        </div>
        <div class="row"><% } %> <% } %></div>
      </div>
    </div>
  </div>
</section>
